<ion-view hide-nav-bar="true">

	<ion-content ng-controller="MapCtrl" ng-init="initialize()">


		<!-- <div class="container">
			<div class='col-sm-6'>
				<form name="searchForm" class='searchbar' novalidate ng-submit="search()">
					<div class="input-group">
						<input id="autocomplete" name="place" type="text" class="form-control" ng-model="searchPlace" required autofocus />
						<span class="input-group-btn">
							<button class="btn btn-primary submitButton" ng-disabled="searchForm.$invalid" ng-click="searchLocation()">Search</button>
							<button class="btn btn-primary submitButton" ng-click="testSave()">TEST SAVE</button>
						</span>
					</div>
				</form>
			</div>
			<div class='col-sm-2 ortext'>
				<h3> or </h3>
			</div>

			<div class='col-sm-2 choosebutton'>
				<button class='btn btn-primary' ng-click='locationPopUp()'> Choose from a location </button>
			</div> 
			<div class='col-sm-1 loginbutton'>
				<button class='btn btn-primary' ng-click='getUser()'> GetMapUser </button>
			</div> 

			<div class='col-sm-1 loginbutton' ng-controller='UserCtrl'>
				<button class='btn btn-primary' ng-click='doLogout2(); doLogout()'> Logout </button>
			</div> 
		</div> -->
		
			<input id="pac-input" class="controls" type="text" placeholder="Search Box">
			<div id="map" data-tap-disabled="true"></div>
			

	</ion-content>
</ion-view>

