<ion-view view-title="Chats">
  <ion-content ng-controller="UploadCtrl">

  <div class="container-fluid">

<p class="text-info" align="center">Testing</p>

<hr />

<form ng-submit="uploadFile()">

<input type="file" name="file" class="inputimg" id="nameImg" accept="image/*">

<a class="btn btn-danger btn-block" href="#/form">Form url</a>

<br />

<span class="input-group-btn">

<button  type="submit" class="btn btn-block">Upload Image

<i class="material-icons">send</i>

</button>

</span>

</form>

</div>

   <!--<button class='button' ng-click="testUpload()"> Test Upload </button>-->
</ion-content>
</ion-view>
